/* Target all input type text, all input type email, all textarea */
input[type="text"],
input[type="email"],
textarea {
    position: relative;
    width: 100%;
    padding: 1.2rem;
    line-height: 1;
    border: .1rem solid var(--color-black);
    background-color: var(--color-white);
    box-shadow: none;
    outline: 0;
}

/* Target all input type text, all input type email */
input[type="text"],
input[type="email"] {
    padding-right: 3rem;
}

/* Target the focus state of all input type text, all input type email, and all textarea */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: .1rem solid var(--color-grey);
    background-color: var(--color-light-grey);
}

/* Target the placeholder text */
::placeholder {
    font-style: italic;
    font-size: var(--font-size-small);
}
